/* ColourPalletes:
   https://colorhunt.co/palette/1c658c398ab9d8d2cbeeeeee
   https://colorhunt.co/palette/1a374d4068826998abb1d0e0*/
/* Title Section */
/* body{
  background-color: #B1D0E0;
} */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* h2,h3,h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
} */
a {
  color: #fff;
  margin-top: 100px;
}

p, li {
  font-family: 'EB Garamond', serif;
  font-size: 1.1rem;
}

/* Navigation Bar */
.navbar {
  /* padding-bottom: 0 0 4.5rem; */
  text-align: right;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

#title {
  color: #fff;
  background-color: #1A374D;
  /* 333F50 */
  /* height: 15 px; */
  /* align: center; */
  /* display: inline-block; */
  /* text-align: center; */
  /* line-height: 1.5; */
  /* padding: 7% 15%; */
}

.container-fluid {
  padding: 3%;
}

.title-containers-1 {
  position: relative;
  /* padding: 50px 0; */
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  /* line-height: 3; */
  margin-left: 10%
}

.title-profile-pic {
  display: block;
  margin: auto;
}

.title-links {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  /* padding: 20px 100px; */
  /* line-height: 2; */
  /* margin: 50px 50px 50px 50px; */
  text-align: center;
  /* position: absolute; */
}

.tab {
  display: inline-block;
  margin-left: 20px;
  /* tab-size: 4; */
}

/* Bottom Container */
.bottom-container {
  background-color: #6998AB;
  /* margin: 25px auto 0 auto; */
  /* padding-top: 50px; */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.bottom-container-name {
  font-size: 0.8rem;
  color: #fff;
  padding: 1% 0;
}

.footer-link {
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #1C658C;
}
